.policy-dialog {
  width: 95rem;
  padding: 0; /* 24px */
  margin: 0 auto;
  font-size: 2rem; /* 正文基准 */
  line-height: 2.75rem; /* 正文基准 */
  color: white;
}

/* 主标题 */
.policy-dialog h1 {
  padding: 0rem 0 3.75rem 1.25rem;

  font-size: 4rem;
  line-height: 4rem;
  text-align: center;
}

/* 二级标题 */
.policy-dialog h2 {
  margin: 4.5rem 0 1.75rem; /* 32px 0 12px */
  font-size: 2.85rem; /* 20px → 放大 */
  line-height: 3.75rem; /* 32px 0 12px */
}

/* 三级标题 */
.policy-dialog h3 {
  margin: 2.85rem 0 1.15rem; /* 20px 0 8px */
  font-size: 2.3rem; /* 16px → 放大 */
  line-height: 3.2rem; /* 20px 0 8px */
}

/* 段落 */
.policy-dialog p {
  margin: 1.75rem 0; /* 12px */
}

/* 链接 */
.policy-dialog a {
  /* color: #1677ff; */
  margin-left: 0.3rem;
  /* color: #1677ff; */
  color: yellow;
  text-decoration: none;
}

.policy-dialog a:hover {
  text-decoration: underline;
}

/* 列表 */
.policy-dialog ol,
.policy-dialog ul {
  padding-left: 1.75rem; /* 24px */
  margin: 1.75rem 0; /* 12px */
  list-style: disc;
  list-style-position: inside;
}

.policy-dialog li {
  margin: 0.85rem 0; /* 6px */
  word-break: break-word;
}
